@import '_definitions';

/****************
* text elements *
****************/

hero {
	color: $black;
	font: $hero-font-mobile;
}

h1 {
	color: $black;
	font: $h1-font-mobile;
}

h2 {
	color: $black;
	font: $h2-font-mobile;
}
h3 {
	color: $black;
	font: 100 $h3-mobile $fancy-font;
}
h4 {
	color: $black;
	font: 100 $h4-mobile $fancy-font;
	font-style: italic;
}
h5 {
	color: $black;
	font: 100 $h5-mobile $fancy-font;
	font-style: italic;
}
.text, ul {
	color: $black;
	font: $text-font-mobile;
}

@media only screen and (min-width: 500px) {
	hero { font: $hero-font-desktop }
	h1 { font: $h1-font-desktop; }
	h2 { font: $h2-font-desktop; }
	h3 { font-size: $h3-desktop; }
	h4 { font-size: $h4-desktop; }
	h5 { font-size: $h5-desktop; }
	.text, ul { font: $text-font-desktop; }
}


/* links */

a {
	color: $green;
}

a:visited {
	color: $blue-light;
}

a:hover {
	color: $green-light;
}

a:active {
	color: $blue;
}

/* text types */

.text {
	color: $green-black;
	font: 14pt $font;
}

.caption {
	color: $green-black;
	font: italic 10pt $font;
}

.footnote {
	color: $green-black;
	font: 100 10pt $font;
}

.breadcrumb {
	font: 300 30pt $fancy-font;
	color: $yellow;
	text-decoration: none;
}

.breadcrumb:hover {
	color: $green-light;
	text-decoration: none;
};

.heading {
	font: 300 40pt $fancy-font;
	color: $green;
}

.subheading {
	font: 300 22pt $fancy-font;
}

/* placement within containers */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.top {
	vertical-align: top;
}

.hanging-indent {
	/* vvv hanging indentation css thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
	padding-left: 20px;
	text-indent: -20px;
	/* ^^^ thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
}
