@import '_definitions';

/****************
* text elements *
****************/

hero {
	color: $black;
	font: $hero-font-mobile;
}

h1 {
	color: $black;
	font: $h1-font-mobile;
}

h2 {
	color: $black;
	font: $h2-font-mobile;
}
h3 {
	color: $black;
	font: 100 $h3-mobile $fancy-font;
}
h4 {
	color: $black;
	font: 100 $h4-mobile $fancy-font;
	font-style: italic;
}
h5 {
	color: $black;
	font: 100 $h5-mobile $fancy-font;
	font-style: italic;
}
.text, ul {
	color: $black;
	font: $text-font-mobile;
}

@media only screen and (min-width: 500px) {
	hero { font: $hero-font-desktop }
	h1 { font: $h1-font-desktop; }
	h2 { font: $h2-font-desktop; }
	h3 { font-size: $h3-desktop; }
	h4 { font-size: $h4-desktop; }
	h5 { font-size: $h5-desktop; }
	.text, ul { font: $text-font-desktop; }
}


/* links */

a {
	color: $green;
}

a:visited {
	color: $blue-light;
}

a:hover {
	color: $green-light;
}

a:active {
	color: $blue;
}

/* text types */

.text {
	color: $green-black;
	font: 14pt $font;
}

.caption {
	color: $green-black;
	font: italic 10pt $font;
}

.footnote {
	color: $green-black;
	font: 100 10pt $font;
}

/* placement within containers */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.top {
	vertical-align: top;
}

/* layout */

.content-column {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.hanging-indent {
	/* vvv hanging indentation css thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
	padding-left: 20px;
	text-indent: -20px;
	/* ^^^ thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
}

/* custom classes */

.squircle {
    border-radius: 25px;
}

.squircle-small {
    border-radius: 10px;
}

.breadcrumb {
	font: 300 30pt $fancy-font;
	color: $yellow;
	text-decoration: none;
}

.breadcrumb:hover {
	color: $green-light;
	text-decoration: none;
};

.heading {
	font: 300 40pt $fancy-font;
	color: $green;
}

.subheading {
	font: 300 22pt $fancy-font;
}

.main-content {
    padding-top: 15px;
}

.header-nav {
    text-align: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 15px 0px 15px 0px;
}

/* elememt overrides */

body {
	@extend .text;
	padding: 50px;
	text-align: justify;
	text-justify: inter-word;
}

ul.navmenu, li.navmenuitem {
    display: inline;
    margin: 20px;
    font: $nav-desktop;
}

li.linklistitem {
    font: $text-font-desktop;
}

links {
  width: 200px;
  display: inline-block;
  margin: 20px 20px 0px 20px;
  vertical-align: top;
}

/* blog styles */

.section-heading {
	font: $h3-font-desktop;
}

/* vvv thanks to https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_flexbox */

/**********************************************
* responsive layout for tags and latest post	*
**********************************************/

* {
	box-sizing: border-box;
}

/* Container for flexboxes */
header {
	display: -webkit-flex;
	display: flex;
	vertical-align: top;
}

tags {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	vertical-align: top;
    @extend .hanging-indent;
    padding-left: 20px;
}

tags a {
	@extend .text;
}

latest {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
    padding-right: 20px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media only screen and (max-width: 500px) {
	header {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
    tags {
  	    margin-top: 20px;
    }
}

/* ^^^ thanks to https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_flexbox */

/**************
* latest post *
**************/

.latest-post {
	float: left;
	width: 70%;
}
.latest-post:after {
	content: "";
	display: table;
	clear: both;
}
@media only screen and (max-width: 500px) {
	.latest-post {
		width: 100%;
	}
}

.title {
    font: $h2-font-desktop;
}
@media only screen and (max-width: 500px) {
    .title {
        font: $h2-font-mobile;
    }
}

.latest-title {
	font: $h3-font-desktop;
}
@media only screen and (max-width: 500px) {
	.latest-title {
  	    font: $h3-font-mobile;
	}
}

.latest-abstract {
	@extend .text;
	margin: 20px 20px 0px 20px;
}

.latest-readtime {
	@extend .text;
	font-style: italic;
}

/*****************
* previous posts *
*****************/

.previous-section {
  margin-top: 20px;
}

.previous-abstract {
	@extend .text;
}

previous {
  width: 200px;
  display: inline-block;
  margin: 20px 20px 0px 20px;
  vertical-align: top;
}
previous a {
	font: $h4-font-desktop;
}
@media only screen and (max-width: 500px) {
	previous {
        text-indent: 0px;
		width: 100%;
  	    margin: 20px 0px 0px 0px;
	}
    previous a {
        font: $h4-font-mobile;
    }
    .previous-abstract {
        margin: 0px 20px 0px 20px;
        font: $text-font-mobile;
    }
}

/********
* posts *
********/

.byline {
	@extend h5;
}

.entry {
	@extend .text;
}

p {
	@extend .text;
}

/*
* monospace and code snippets
*/
.highlighter-rouge {
    color: $red-code;
    font: $text-font-monospace-mobile;
    background-color: #eee;
    padding: 0px 3px 0px 3px;
}

@media only screen and (min-width: 500px) {
    .highlighter-rouge {
        font: $text-font-monospace-desktop
    }
}

/* ⬇️ thanks to https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
#post-content {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	/*
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	*/
}
/* ⬆️ thanks to https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */

#post-content::first-letter {
	font-size: 300%;
	float: left;
	line-height: 1;
	display: inline-block;
	margin-right: 0.15em;
	margin-bottom: -0.30em;
	font-family: $fancy-font;
}

blockquote p {
	font: $note-font-desktop;
	font-style: italic;
	padding: 10px 20px 10px 20px;
	border-left: 5px grey solid;
  background-color: #EEE;
}
@media only screen and (max-width: 500px) {
	blockquote p {
		font: $note-font-mobile;
		font-style: italic;
		margin: 0px 10px 0px 10px;
	}
}
