@charset "UTF-8";
/* faces */
/* mobile text sizes */
/* desktop text sizes */
/* faces */
/* mobile text sizes */
/* desktop text sizes */
/****************
* text elements *
****************/
hero {
  color: #000;
  font: 200 30pt "Palatino", "Garamond", serif;
}

h1 {
  color: #000;
  font: 200 27pt "Palatino", "Garamond", serif;
}

h2 {
  color: #000;
  font: 200 24pt "Palatino", "Garamond", serif;
}

h3 {
  color: #000;
  font: 100 21pt "Palatino", "Garamond", serif;
}

h4 {
  color: #000;
  font: 100 18pt "Palatino", "Garamond", serif;
  font-style: italic;
}

h5, .byline {
  color: #000;
  font: 100 15pt "Palatino", "Garamond", serif;
  font-style: italic;
}

.text, p, .entry, .previous-abstract, .latest-readtime, .latest-abstract, tags a, body, ul {
  color: #000;
  font: lighter 13pt "Verdana", "Helvetica", "Arial", sans-serif;
}

@media only screen and (min-width: 500px) {
  hero {
    font: 200 50pt "Palatino", "Garamond", serif;
  }

  h1 {
    font: 200 34pt "Palatino", "Garamond", serif;
  }

  h2 {
    font: 200 28pt "Palatino", "Garamond", serif;
  }

  h3 {
    font-size: 23pt;
  }

  h4 {
    font-size: 20pt;
  }

  h5, .byline {
    font-size: 17pt;
  }

  .text, p, .entry, .previous-abstract, .latest-readtime, .latest-abstract, tags a, body, ul {
    font: lighter 13pt "Verdana", "Helvetica", "Arial", sans-serif;
  }
}
/* links */
a {
  color: #2D8632;
}

a:visited {
  color: #4358AD;
}

a:hover {
  color: #3DC846;
}

a:active {
  color: #303D74;
}

/* text types */
.text, p, .entry, .previous-abstract, .latest-readtime, .latest-abstract, tags a, body {
  color: #000100;
  font: 14pt "Verdana", "Helvetica", "Arial", sans-serif;
}

.caption {
  color: #000100;
  font: italic 10pt "Verdana", "Helvetica", "Arial", sans-serif;
}

.footnote {
  color: #000100;
  font: 100 10pt "Verdana", "Helvetica", "Arial", sans-serif;
}

.breadcrumb {
  font: 300 30pt "Palatino", "Garamond", serif;
  color: #AAA739;
  text-decoration: none;
}

.breadcrumb:hover {
  color: #3DC846;
  text-decoration: none;
}

.heading {
  font: 300 40pt "Palatino", "Garamond", serif;
  color: #2D8632;
}

.subheading {
  font: 300 22pt "Palatino", "Garamond", serif;
}

/* placement within containers */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.top {
  vertical-align: top;
}

.hanging-indent, tags {
  /* vvv hanging indentation css thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
  padding-left: 20px;
  text-indent: -20px;
  /* ^^^ thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
}

/*@import '_layout';*/
/* custom classes */
.squircle {
  border-radius: 25px;
}

.squircle-small {
  border-radius: 10px;
}

.main-content {
  padding-top: 15px;
}

.header-nav {
  text-align: center;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 15px 0px 15px 0px;
}

/* elememt overrides */
body {
  text-align: justify;
  text-justify: inter-word;
}

ul.navmenu, li.navmenuitem {
  display: inline;
  margin: 20px;
  font: 200 25pt "Palatino", "Garamond", serif;
}

li.linklistitem {
  font: lighter 13pt "Verdana", "Helvetica", "Arial", sans-serif;
}

links {
  display: inline-block;
  margin: 20px 20px 0px 20px;
  vertical-align: top;
}

/* blog styles */
.section-heading {
  font: 200 23pt "Palatino", "Garamond", serif;
}

/* vvv thanks to https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_flexbox */
/**********************************************
* responsive layout for tags and latest post	*
**********************************************/
* {
  box-sizing: border-box;
}

/* Container for flexboxes */
header {
  display: -webkit-flex;
  display: flex;
  vertical-align: top;
}

tags {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  vertical-align: top;
  padding-left: 20px;
}

latest {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding-right: 20px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media only screen and (max-width: 500px) {
  header {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  tags {
    margin-top: 20px;
  }
}
/* ^^^ thanks to https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_flexbox */
/**************
* latest post *
**************/
.latest-post {
  float: left;
  width: 70%;
}

.latest-post:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 500px) {
  .latest-post {
    width: 100%;
  }
}
.title {
  font: 200 28pt "Palatino", "Garamond", serif;
}

@media only screen and (max-width: 500px) {
  .title {
    font: 200 24pt "Palatino", "Garamond", serif;
  }
}
.latest-title {
  font: 200 23pt "Palatino", "Garamond", serif;
}

@media only screen and (max-width: 500px) {
  .latest-title {
    font: 200 21pt "Palatino", "Garamond", serif;
  }
}
.latest-abstract {
  margin: 20px 20px 0px 20px;
}

.latest-readtime {
  font-style: italic;
}

/*****************
* previous posts *
*****************/
.previous-section {
  margin-top: 20px;
}

previous {
  width: 200px;
  display: inline-block;
  margin: 20px 20px 0px 20px;
  vertical-align: top;
}

previous a {
  font: 200 20pt "Palatino", "Garamond", serif;
}

@media only screen and (max-width: 500px) {
  previous {
    text-indent: 0px;
    width: 100%;
    margin: 20px 0px 0px 0px;
  }

  previous a {
    font: 200 18pt "Palatino", "Garamond", serif;
  }

  .previous-abstract {
    margin: 0px 20px 0px 20px;
    font: lighter 13pt "Verdana", "Helvetica", "Arial", sans-serif;
  }
}
/********
* posts *
********/
/*
* monospace and code snippets
*/
.highlighter-rouge {
  color: #a52727;
  font: 13pt "Courier New", monospace;
  background-color: #eee;
  padding: 0px 3px 0px 3px;
}

@media only screen and (min-width: 500px) {
  .highlighter-rouge {
    font: 13pt "Courier New", monospace;
  }
}
/* ⬇️ thanks to https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
#post-content {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /*
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  */
}

/* ⬆️ thanks to https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
#post-content::first-letter {
  font-size: 300%;
  float: left;
  line-height: 1;
  display: inline-block;
  margin-right: 0.15em;
  margin-bottom: -0.3em;
  font-family: "Palatino", "Garamond", serif;
}

blockquote p {
  font: 200 11pt "Verdana", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  padding: 10px 20px 10px 20px;
  border-left: 5px grey solid;
  background-color: #EEE;
}

@media only screen and (max-width: 500px) {
  blockquote p {
    font: 200 11pt "Verdana", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    margin: 0px 10px 0px 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
