---

---

{% include subindex-html-start.html name="Photos" css_file="photos.css" description="People, places and things seen by Andrew McKnight." %}

		{% for album in site.albums %}
			{% assign album_name = album.path | remove: '_albums/' | remove: '.html' %}
			<div>
				<table>
					<tr>
						<td>
							<img src="{{ album_name }}/img/{{album.cover_image_url}}" />
						</td>
						<td>
							<p>
								<a href="{{ album_name }}/">{{ album.name }}</a>
							</p>
							<p>
								{{ album.description }}
							</p>
						</td>
					</tr>
				</table>
			</div>
		{% endfor %}
		
{% include subindex-html-end.html %}
