---
paginate:
  collection: photos
  category: 2017-11-24-thanksgiving-at-the-grand-canyon
  per_page: 1
  limit: false
  permalink: /:num/
---
{% if paginator.page == 1 %}
  {% include subindex-html-start.html name="Thanksgiving 2017 at the Grand Canyon" css_file="slideshow_slide.css" description="We decided to see the Grand Canyon for a week around Thanksgiving since we live out near the southwest. We stopped by Mesa Verde National Park on the way as well, spending the night in nearby Cortez. Then, onward to the Grand Canyon, where we spent another night and did some light hiking our first day there. We luckily got a camp site reserved for Thanksgiving evening in the bottom of the canyon, but weren't able to make it into the very popular dinner they serve. Everything about the drive there through the painted desert, seeing the Pueblo ruins, and of course the very Grand Canyon made it a very enchanting trip." %}
{% else %}
  {% include subindex-html-start.html name="Thanksgiving 2017 at the Grand Canyon" css_file="slideshow_slide.css" description="We decided to see the Grand Canyon for a week around Thanksgiving since we live out near the southwest. We stopped by Mesa Verde National Park on the way as well, spending the night in nearby Cortez. Then, onward to the Grand Canyon, where we spent another night and did some light hiking our first day there. We luckily got a camp site reserved for Thanksgiving evening in the bottom of the canyon, but weren't able to make it into the very popular dinner they serve. Everything about the drive there through the painted desert, seeing the Pueblo ruins, and of course the very Grand Canyon made it a very enchanting trip." back_url="../.." %}
{% endif %}

{% for photo in paginator.photos %}
  <center>
    <table>
      <tr>
        <td>
          <center>
            {% if paginator.previous_page != nil %}
              {% if paginator.previous_page == 1 %}
                <a href="../">Previous</a>
              {% else %}
                <a href="../{{ paginator.previous_page }}">Previous</a>
              {% endif %}
            {% endif %}
            {% if paginator.next_page != nil %}
              {% if paginator.next_page == 2 %}
                <a href="{{ paginator.next_page }}">Next</a>
              {% else %}
                <a href="../{{ paginator.next_page }}">Next</a>
              {% endif %}
            {% endif %}
          </center>
        </td>
      </tr>
      <tr>
        <td class="description">
          ({{ paginator.page }}/{{ paginator.total_photos }}): {{ photo.description }}
        </td>
      </tr>
      <tr>
        <td class="image">
          <a href="/photos/2017-11-24-thanksgiving-at-the-grand-canyon/img/{{ photo.image_url }}"><img src="/photos/2017-11-24-thanksgiving-at-the-grand-canyon/img/{{ photo.image_url }}" style="max-height: 80%; max-width: 80%;" /></a>
        </td>
      </tr>
    </table>
  </center>
{% endfor %}
              
{% include subindex-html-end.html %}
