---
paginate:
  collection: photos
  category: 2017-10-26-nrao-very-large-array
  per_page: 1
  limit: false
  permalink: /:num/
---
{% if paginator.page == 1 %}
  {% include subindex-html-start.html name="NRAO Very Large Array" css_file="slideshow_slide.css" description="On our drive from El Paso to Colorado, we decided to take a detour to the west to check out the National Radio Astronomical Observatory's Very Large Array installation. It is a tri-radial span of huge satellite dishes that spans up to 13 miles across in the high desert valley, with a network of rails that reconfigure their spacing to change the telescope's resolution, or move dishes to the maintenance bay. It is also home to the Bracewell Radio Sundial, the first and only of it's kind. Overall a totally worthwhile extra couple hours of driving to see such impressive engineering feats, and be reminded of all those that came before it." %}
{% else %}
  {% include subindex-html-start.html name="NRAO Very Large Array" css_file="slideshow_slide.css" description="On our drive from El Paso to Colorado, we decided to take a detour to the west to check out the National Radio Astronomical Observatory's Very Large Array installation. It is a tri-radial span of huge satellite dishes that spans up to 13 miles across in the high desert valley, with a network of rails that reconfigure their spacing to change the telescope's resolution, or move dishes to the maintenance bay. It is also home to the Bracewell Radio Sundial, the first and only of it's kind. Overall a totally worthwhile extra couple hours of driving to see such impressive engineering feats, and be reminded of all those that came before it." back_url="../.." %}
{% endif %}

{% for photo in paginator.photos %}
  <center>
    <table>
      <tr>
        <td>
          <center>
            {% if paginator.previous_page != nil %}
              {% if paginator.previous_page == 1 %}
                <a href="../">Previous</a>
              {% else %}
                <a href="../{{ paginator.previous_page }}">Previous</a>
              {% endif %}
            {% endif %}
            {% if paginator.next_page != nil %}
              {% if paginator.next_page == 2 %}
                <a href="{{ paginator.next_page }}">Next</a>
              {% else %}
                <a href="../{{ paginator.next_page }}">Next</a>
              {% endif %}
            {% endif %}
          </center>
        </td>
      </tr>
      <tr>
        <td class="description">
          ({{ paginator.page }}/{{ paginator.total_photos }}): {{ photo.description }}
        </td>
      </tr>
      <tr>
        <td class="image">
          <a href="/photos/2017-10-26-nrao-very-large-array/img/{{ photo.image_url }}"><img src="/photos/2017-10-26-nrao-very-large-array/img/{{ photo.image_url }}" style="max-height: 80%; max-width: 80%;" /></a>
        </td>
      </tr>
    </table>
  </center>
{% endfor %}
              
{% include subindex-html-end.html %}
