{% assign date = page.date | date: '%-d %B %Y' %}
{% assign postTitle="Andrew McKnight's blog % " | append: page.title | append: " % " | append: date %}

{% if page.thumbnail != undefined %}
	{% assign og_image_tag = "og:image::/blog/img/" | append: page.thumbnail %}
	{% assign twitter_image_tag = "twitter:image::/blog/img/" | append: page.thumbnail %}
{% else %}
	{% assign og_image_tag = "og:image::/img/logo-small.jpg" %}
	{% assign twitter_image_tag = "twitter:image::/img/logo-small.jpg" %}
{% endif %}

 <div class="title">{{ page.title }}</div>
 <div class="byline">{{ page.author }} – {{ page.date | date: '%-d %B %Y'}}</div>

 <hr />
