<!-- header -->
<center>
  <table>
    <tr>
      <td>
        <hero>
          <img class="squircle" src="https://www.gravatar.com/avatar/68f9c2600d8547ac6a2d9c10ec9a9335?s=150" width="150" align="left" hspace="50px" /> Andrew McKnight
        </hero>
      </td>
    </tr>
    <tr>
      <td class="header-nav">
        <ul class="navmenu">
          <li class="navmenuitem"><a href="/">Home</a></li>
          <li class="navmenuitem"><a href="/cv">CV</a></li>
          <li class="navmenuitem"><a href="/work">Work</a></li>
          <li class="navmenuitem"><a href="/blog">Blog</a></li>
          <li class="navmenuitem"><a href="/links">Links</a></li>
        </ul>
      </td>
    </tr>
  </table>
</center>
<!-- end header -->
