---
paginate:
  collection: photos
  category: 2018-01-06-creede-co
  per_page: 1
  limit: false
  permalink: /:num/
---
{% if paginator.page == 1 %}
  {% include subindex-html-start.html name="Visiting Creede, Colorado" css_file="slideshow_slide.css" description="Just a day drive a little farther into the mountains around the San Luis Valley, stopping into the old mining community where Jesse James' assassin, Robert Ford, was himself assasinated." %}
{% else %}
  {% include subindex-html-start.html name="Visiting Creede, Colorado" css_file="slideshow_slide.css" description="Just a day drive a little farther into the mountains around the San Luis Valley, stopping into the old mining community where Jesse James' assassin, Robert Ford, was himself assasinated." back_url="../.." %}
{% endif %}

{% for photo in paginator.photos %}
  <center>
    <table>
      <tr>
        <td>
          <center>
            {% if paginator.previous_page != nil %}
              {% if paginator.previous_page == 1 %}
                <a href="../">Previous</a>
              {% else %}
                <a href="../{{ paginator.previous_page }}">Previous</a>
              {% endif %}
            {% endif %}
            {% if paginator.next_page != nil %}
              {% if paginator.next_page == 2 %}
                <a href="{{ paginator.next_page }}">Next</a>
              {% else %}
                <a href="../{{ paginator.next_page }}">Next</a>
              {% endif %}
            {% endif %}
          </center>
        </td>
      </tr>
      <tr>
        <td class="description">
          ({{ paginator.page }}/{{ paginator.total_photos }}): {{ photo.description }}
        </td>
      </tr>
      <tr>
        <td class="image">
          <a href="/photos/2018-01-06-creede-co/img/{{ photo.image_url }}"><img src="/photos/2018-01-06-creede-co/img/{{ photo.image_url }}" style="max-height: 80%; max-width: 80%;" /></a>
        </td>
      </tr>
    </table>
  </center>
{% endfor %}
              
{% include subindex-html-end.html %}
