---
paginate:
  collection: ideas
---
{% if paginator.page == 1 %}
  {% include subindex-html-start.html name="Ideas" css_file="ideas.css" description="Andrew McKnight's latest ideas." %}
{% else %}
  {% include subindex-html-start.html name="Ideas" css_file="ideas.css" description="Andrew McKnight's latest ideas." back_url="../.." %}
{% endif %}

{% for idea in paginator.ideas %}
  <center>
    <table>
      <tr>
				<td class="timestamp">
	        {{ idea.created_date }}, {{ idea.created_time }}
        </td>
				<td class="content">
	        {{ idea.idea_content }}
        </td>
      </tr>
      <tr>
        <td>
          <center>
            {% if paginator.previous_page != nil %}
              {% if paginator.previous_page == 1 %}
                <a href="../">Previous</a>
              {% else %}
                <a href="../{{ paginator.previous_page }}">Previous</a>
              {% endif %}
            {% endif %}
            {% if paginator.next_page != nil %}
              {% if paginator.next_page == 2 %}
                <a href="{{ paginator.next_page }}">Next</a>
              {% else %}
                <a href="../{{ paginator.next_page }}">Next</a>
              {% endif %}
            {% endif %}
          </center>
        </td>
      </tr>
    </table>
  </center>
{% endfor %}
              
{% include subindex-html-end.html %}