---

---
{% include subindex-html-start.html name="NRAO Very Large Array" css_file="photo_gallery.css" description="On our drive from El Paso to Colorado, we decided to take a detour to the west to check out the National Radio Astronomical Observatory's Very Large Array installation. It is a tri-radial span of huge satellite dishes that spans up to 13 miles across in the high desert valley, with a network of rails that reconfigure their spacing to change the telescope's resolution, or move dishes to the maintenance bay. It is also home to the Bracewell Radio Sundial, the first and only of it's kind. Overall a totally worthwhile extra couple hours of driving to see such impressive engineering feats, and be reminded of all those that came before it." thumbnail="http://armcknight.com/photos/2017-10-26-nrao-very-large-array/img/IMG_0107-thumbnail.jpg" %}
                
<!-- cover image -->
{% assign cover_photo = site.photos | where: 'album', '2017-10-26-nrao-very-large-array' | where:'image_url', 'IMG_0107.jpg' %}

<center>
    <table>
      <tr>
        <td class="thumbnail">
          <a href="img/{{ cover_photo[0].image_url }}"><img src="img/{{ cover_photo[0].thumbnail_url }}" height="100px" alt="{{ cover_photo[0].description }}" /></a>
        </td>
      </tr>
      <tr>
        <td class="description">
          {{ cover_photo[0].description }}
        </td>
      </tr>
    </table>
</center>

<!-- album images -->
{% assign photo_index = 1 %}
{% assign photos_to_iterate = site.photos | where: 'album', '2017-10-26-nrao-very-large-array' | sort: 'index' %}
{% for photo in photos_to_iterate %}
  {% if photo.image_url != 'IMG_0107.jpg' %}
    <table class="gallery-item" width="{{ photo.thumbnail_width }}">
      <tr>
        <td class="thumbnail">
          {% if photo_index == 1 %}
            <a href="slideshow/"><img src="img/{{ photo.thumbnail_url }}" height="100px" alt="{{ photo.description }}" /></a>
          {% else %}
            <a href="slideshow/{{ photo_index }}"><img src="img/{{ photo.thumbnail_url }}" height="100px" alt="{{ photo.description }}" /></a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="description">
          {{ photo.description }}
        </td>
      </tr>
    </table>
  {% endif %}
  {% assign photo_index = photo_index | plus: 1 %}
{% endfor %}
              
{% include subindex-html-end.html %}
