---

---
{% include subindex-html-start.html name="Wolf Creek Avalanche School AIARE 1" css_file="photo_gallery.css" description="Over the past few years visiting resorts in Colorado, I find myself enjoying the hike-to terrain the most gratifying experiences and rides. So, I've been looking into more backcountry type trips, and since we're staying in Colorado for the winter, it's a perfect opportunity to practice and meet people who can teach me a thing or two. Towards that end, I took the AIARE I Avalanche Course at Wolf Creek Avalanche School in the southern San Juan mountains, in a place reknownedd not only for its snowfall, but for its dangerous avalanche conditions. It was quite an eye opening experience that leaves me looking at the snow in a completely new and more respectful way." thumbnail="http://armcknight.com/photos/2018-01-12-wolf-creek-avalanche-school/img/IMG_5178-thumbnail.jpg" %}
                
<!-- cover image -->
{% assign cover_photo = site.photos | where: 'album', '2018-01-12-wolf-creek-avalanche-school' | where:'image_url', 'IMG_5178.jpg' %}

<center>
    <table>
      <tr>
        <td class="thumbnail">
          <a href="img/{{ cover_photo[0].image_url }}"><img src="img/{{ cover_photo[0].thumbnail_url }}" height="100px" alt="{{ cover_photo[0].description }}" /></a>
        </td>
      </tr>
      <tr>
        <td class="description">
          {{ cover_photo[0].description }}
        </td>
      </tr>
    </table>
</center>

<!-- album images -->
{% assign photo_index = 1 %}
{% assign photos_to_iterate = site.photos | where: 'album', '2018-01-12-wolf-creek-avalanche-school' | sort: 'index' %}
{% for photo in photos_to_iterate %}
  {% if photo.image_url != 'IMG_5178.jpg' %}
    <table class="gallery-item" width="{{ photo.thumbnail_width }}">
      <tr>
        <td class="thumbnail">
          {% if photo_index == 1 %}
            <a href="slideshow/"><img src="img/{{ photo.thumbnail_url }}" height="100px" alt="{{ photo.description }}" /></a>
          {% else %}
            <a href="slideshow/{{ photo_index }}"><img src="img/{{ photo.thumbnail_url }}" height="100px" alt="{{ photo.description }}" /></a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="description">
          {{ photo.description }}
        </td>
      </tr>
    </table>
  {% endif %}
  {% assign photo_index = photo_index | plus: 1 %}
{% endfor %}
              
{% include subindex-html-end.html %}