---

---
{% include html-opening-tags.html %}
{% assign page_title = "Andrew McKnight's Blog: " | append: page.title %}
{% include head-tags.html title=page_title abstract=page.abstract stylesheet="../../../../css/styles.css" %}
{% include body-opening-tags.html %}
<div class="title">{{ page.title }}</div>
<div class="byline">{{ page.author }} – {{ page.date | date: '%-d %B %Y'}} – {{ page.tags | join: ", " }}</div>
<hr />
<div id="post-content">
  {{ content }}
</div>
<p>
  <hr />
</p>
<p>
  🙏🏻 Enjoy the post? Please help support more like it by <a href="https://www.paypal.me/armcknight">buying me a cup of coffee</a>!
</p>
<p>
  💡 Suggestions, questions, comments? <a href="https://github.com/armcknight/armcknight.com/edit/master/blog/_posts/{{page.date | date: "%Y-%m-%d"}}-{{ page.slug }}.md">Please submit a PR</a>!
</p>

{% include body-closing-tags.html %}
